@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
   font-family: 'Raleway', sans-serif;
   background-color: black;
   cursor: none;
   overflow: hidden;
}

.logo {
   width: 25%;
   height: 25%;
   margin-top: 2%;
}

.header {
   font-size: 80px;
   color: white;
   border-radius: 30px;
   border: 5px solid red;
   width: 40%;
   padding-top: 30px;
   padding-bottom: 30px;
}

.info {
   color: white;
}

.alert {
   font-size: 80px;
   color: white;
}

.subl {
   float: left;
   font-size: 40px;
   color: white;
}

.subr {
   float: right;
   font-size: 40px;
   color: white;
}

@keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fadeout {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
