@font-face {
   font-family: 'Kingthings';
   src: url('Kingthings.ttf');
}

body {
   margin-top: 50px;
}

.header {
   /*font-family: 'Courier New';*/
   font-family: 'Kingthings';
   font-weight: normal;
   font-size: 300%;
}

#logo {
   width: 100px;
   height: 100px;
}